
#Step7Dk39 {
  width: 100%;
  

  .stepWrapper {
    text-align: left;
  }

  .section_title {
    h3 {
      color: #222;
    }
    width: 70%;
    p {
      font-family: sans-serif;
      font-size: 20px;
    }
  }
  .otp_wrapper {
    margin-top: 20px;
    .Seperator {
      width: 40px;
      @media only screen and (max-width: 768px) {
        width: 10px;
      }
    }
    .OTPInput {
      height: 150px;
      width: 110px !important;
      border: none;
      outline: none;
      box-shadow: -2px 10px 29px -3px rgba(157, 157, 157, 0.75);
      font-size: 33px;
      @media only screen and (max-width: 768px) {
        height: 80px;
        width: 60px !important;
      }
    }
    .TermsCHck {
      margin-top: 15px;
      display: flex;
      gap: 10px;
      p {
        font-size: 12px;
        font-family: sans-serif;
        span {
          font-weight: 550;
          font-size: 12px;
          font-family: sans-serif;
        }
      }
      .CheckBoxInput {
        border: none;
        outline: none;
        background-color: #fff;
        border-radius: 5px;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .section_title {
      width: 100%;
    }
  }
}
