.HomeBannerSection {
  width: 100%;
  min-height: 850px;
  height: 100vh;
  padding: 40px;

  .banner_wrapper {
    // background-color: #44b09e;
    // background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto auto;
    border-radius: 10px;
    padding-top: 120px;
  }

  .gropu1Sectin {
    height: 100%;
    display: flex;
    justify-content: start;
    align-content: center;
    .group_wrapper {
      margin: auto auto;
      padding-left: 30px;
      .title {
        h2 {
          font-size: 35px;
        }
        p {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 550;
        }
      }
      .searchInput {
        margin-top: 30px;
        p {
          font-size: 16px;
          margin-bottom: 1rem;
          font-family: sans-serif;
          font-weight: 600;
        }
        .wrapper {
          background-color: #fff;
          border-radius: 180px;
          width: 100%;
          max-width: 412px;
          height: 60px;
          padding: 0 20px;
          gap: 10px;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          img {
            height: 40px;
            width: 40px;
            border-radius: 100%;
          }
          #UniDrop {
            outline: none;
            border: none;
            width: 100%;
            font-size: 14px;
          }
        }
        .searchContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
        }

        .imgGroup {
          img {
            margin-left: -15px;
            height: 40px;
            width: 40px;
            border: 3px solid #fff;
            border-radius: 100%;
          }
        }
      }
    }
    .quick_links {
      margin-top: 100px;
      h4 {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      .LocationsContainer {
        margin-top: 1rem;
        display: flex;
        justify-content: start;
        align-content: center;
        gap: 7px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        .locations {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          flex-direction: row;
          width: max-content;
          padding: 5px 7px;
          background-color: #fff;
          border-radius: 30px;
          color: #667085;
          img {
            height: 16px;
            width: 16px;
            object-fit: cover;
            border-radius: 100%;
          }
          p {
            font-family: sans-serif;
            font-size: 12px;
          }
        }
      }
    }
  }

  .logo-grid {
    // border: 1px solid black;
    width: 372px;
    height: 64px;
    display: flex;
    margin-top: 29px;
    display: flex;
    align-items: center;
      margin-left: 115px;

  }
  .logo-g {
    margin-right: 12px;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    /* Transp Card v2. */
    box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02),
      0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03),
      0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04),
      0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04),
      0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05),
      0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
  }
  .arrow-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 41px;
    padding: 8px;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #fff;
    object-fit: contain;
    /* Transp Card v2. */
    box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02),
      0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03),
      0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04),
      0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04),
      0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05),
      0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
  }

  .Group_wrapper {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    .groupImg {
      margin-left: 62vw;
      margin-top: 92px;
      display: flex;
      justify-content: end;
      align-content: center;
      img {
        position: relative;
        right: 0;
        float: right;
        margin-right: 0;
      }
    }
    .titles {
      margin-top: 1rem;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
      flex-direction: column;
    }
    .titleItem2 {
      opacity: 0.5;
    }
    .titleItem3 {
      position: relative;
      opacity: 0.2;
      h3 {
        background: -webkit-linear-gradient(#333, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .glassEffect {
        position: absolute;
        top: 12px;
        height: 60%;
        width: 100%;
        background: rgba(255, 255, 255, 0.07);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14.9px);
        -webkit-backdrop-filter: blur(14.9px);
        border: 1px solid rgba(255, 255, 255, 0.08);
      }
    }
    .title_item {
      text-align: left;
      width: 100%;
      h3 {
        font-size: 20px;
      }
      p {
        font-family: sans-serif;
      }
      @media only screen and (max-width: 768px) {
        padding-left: 15px;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    padding: 10px;
    padding-top: 15px;
  }
}
